{erl_opts, [debug_info]}.

{pre_hooks, [{compile, "./configure"}]}.

{port_env, [{"CFLAGS", "$CFLAGS -g -O2 -Wall"},
            {"LDFLAGS", "$LDFLAGS -lssl -lcrypto"}]}.

{port_specs, [{"priv/lib/tls_drv.so", ["c_src/tls_drv.c"]},
              {"priv/lib/sha_drv.so", ["c_src/sha_drv.c"]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
