{erl_opts, [debug_info]}.

{port_env, [{"CFLAGS", "$CFLAGS -ggdb -Wall"},
            {"LDFLAGS", "$LDFLAGS -lssl -lcrypto"}]}.

{port_specs, [{"priv/lib/tls_drv.so", ["c_src/tls_drv.c"]},
              {"priv/lib/sha.so", ["c_src/sha.c"]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
